{% extends "users/password/password_base.html" %}
{% load static %}

{% block content %}
    <div class="row align-content-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-center min-vh-100">
            <div class="row justify-content-center w-100">
                <div class="position-fixed top-50 start-50 translate-middle" style="width:100%; max-width:540px;">
                    <div class="bg-white p-4 mb-4 rounded custom-shadow">
                        <h2 class="text-center mb-4">Восстановление пароля</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" class="form-control"
                            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                            name="email" id="id_old_password" placeholder="Введите email" required>
                            {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-dark btn-block">Выслать на email</button> 
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}