{% extends "base.html" %}
{% load static %}

{% block model_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Смена пароля</h2>
                    <form action="{% url "users:change_password" %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_old_password" class="form-label">Старый пароль</label>
                            <input type="password" class="form-control"
                            value="{% if form.old_password.value %}{{ form.old_password.value }}{% endif %}"
                            name="old_password" id="id_old_password" placeholder="Введите ваш старый пароль" required>
                            {% if form.old_password.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.old_password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">Новый пароль</label>
                            <input type="password" class="form-control" name="new_password1" id="id_new_password1"
                            placeholder="Введите ваш новый пароль" required>
                            {% if form.new_password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.new_password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Подвердите новый пароль</label>
                            <input type="password" class="form-control" name="new_password2" id="id_new_password2"
                            placeholder="Подвердите пароль" required>
                            {% if form.new_password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.new_password2.errors }}</div>
                            {% endif %}
                        </div>
                        
                        
                        {% comment %} {% for item in form %}
                            <div class="mb-3">
                                <label for="{{ form.item.id_for_label }}" class="form-label">{{ item.label }}</label>
                                {{ item }}
                            </div>
                        {% endfor %} {% endcomment %}
                        
                        {% comment %} <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                            {{ form.password }}
                        </div> {% endcomment %}

                        {% comment %} {{ form }} {% endcomment %}

                        {% comment %} <div class="mb-3">
                            <label for="username" class="form-label">Имя пользователя</label>
                            <input type="text" class="form-control" id="username" placeholder="Введите ваше имя пользователя" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" placeholder="Введите ваш пароль" required>
                        </div> {% endcomment %}
                        <button type="submit" class="btn btn-dark btn-block">Изменить пароль</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

